@model IEnumerable<BBDisplay.Models.Session>

@{
    ViewData["Title"] = "Sessions";
}

<div style="background-color: #573F54; border-radius: 20px;text-align:center; ">
<img src="images\Sessions.png" class="img-fluid" alt="...">
</div>
<br />
<hr/>


  <div style="text-align:center;">
    <h3><u>Create Sessions Card</u></h3>
    <p> Did you forget to send session information over? Don't worry! You can add it here manually</p>
    <a asp-action="Create" class="btn btn-primary">Add Session</a>
  </div>

 <hr/>

 <br />

<h3>Sessions List:</h3>

 <br />
@foreach (var item in Model) {
   
    <div style="float:left; width:30%; margin:20px;">
    <div class="card">
      <div class="card-body" style="background-color:#000000;">
        <h5 class="card-title">Session ID: @item.SessionId</h5>
        <p class="card-text">Visitor IP: @item.UserIPAddress</p>
        <p class="card-text">Login Status: @item.LoggedIn</p>
        <p class="card-text">Date: @item.DateTime</p>
        <p class="card-text">Purchase Made: @item.PurchaseMade</p>       
        <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.SessionId">Details</a>
        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.SessionId">Delete</a>
      </div>
    </div>
  </div>
  
}
 <br />

